@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    font-size: 16px;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Barlow', sans-serif;;
}

html{
    scroll-behavior: initial;
    overflow: hidden;
}

html, body{
    width: 100%;
    min-height: 100%;
}

.container__space{
    height: 100vh; 
    width: 100vw;
}

/* compteur */
.container__compteur{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.compteur{
    text-align: center;
    padding: 0 5%;
}

.compteur__num{
    font-size: 6rem;
    font-weight: 700;
    color: #1f2745;
}

.compteur__num span{
    color: #edac8d;
}

.container__text{
    font-size: 1.5rem;
    font-weight: 500;
    color: #1f2745;
}

/* partie scroll  horizontal */
#horizontal{
    display: flex;
    height: 100vh;
    padding: 100px 0;
}

.horizontal__content{
    display: flex;
}

/* ici tu peux modifier la taille de la boîte */
.horizontal__item{
    padding: 400px 300px;
    background-image: url("images/bouclier.svg");
    background-size: cover;
}

/* l'écart entre les boîtes */
.horizontal__item:not(:last-child){
    margin-right: 300px;
}

.horizontal__num{
    font-size: 4rem;
    font-weight: 900;
    font-stretch: condensed;
    color: #edac8d;
}

.container{
    width: 90%;
    margin: auto;
    text-align: right;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #1f2745;
    text-align: left;
    text-transform: uppercase;
}

.bouton{
    float: right;
}
.bouton img{
    position: relative;
    width: 200px;
    margin-top: 70px;
}
.bouton span{
    position: relative;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    left: 158px;
    top: 88px;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}
.bouton span:hover{
    color: #edac8d;
    transition: 0.2s;
}

/* partenaires */
.container__partenaire{
    height: 130px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "----";
}
.container__partenaire img{
    width: 100px;
    margin-left: 200px;
}
.partenaire__box{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    animation: marquee 30s linear infinite;
}
.marquee__inner{
    display: flex;
    align-items: center;
}
@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* footer */
footer{
    height: 38vh;
    background-color: #1f2745;
    padding: 100px 0;
}

/* partie haute du footer */
.footer__top,
.footer__bottom{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    color: #fff;
    font-size: 0.9rem;
}
.footer__content{
    width: 90%;
    padding-right: 30%;
}
.footer__logo{
    display: flex;
    align-items: center;
}
.footer__logo img{
    width: 100px;
    margin-right: 30px;
}
.newsletter{
    display: flex;
    margin: 50px 0 30px 0;
}
#email{
    border-radius: 30px 0 0 30px;
    border: 0;
    border-right: 1px solid #1f2745;
    width: 300px;
    padding: 10px 15px;
    background: #fff;
    color: #1f2745;
}
#submit{
    border-radius: 0px 30px 30px 0px;
    border: 0;
    padding: 10px 15px;
    background:  #fff;
    color: #1f2745;
    cursor: pointer;
    transition: 0.2s;
}
#submit:hover{
    background:  #edac8d;
    transition: 0.2s;
}
.footer__link{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.footer__links a{
    cursor: default;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
}
.footer__links a span{
    cursor: pointer;
}
.footer__links a span:hover{
    color: #edac8d;
    text-decoration: underline;
}

.footer__links h1{
    color: #fff;
    font-weight: 300;
}

.footer__line{
    content: " ";
    width: 90%;
    height: 1px;
    background-color: #fff;
    margin: 100px auto 40px auto;
    opacity: 15%;
}

.footer__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.7rem;
}
.copyright p{  
    color: #fff;
}
.footer__legal_links{
    text-align: right;
}
.footer__legal_links a{
    cursor: default;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
}
.footer__legal_links a span{
    cursor: pointer;
}
.footer__legal_links a span:hover{
    color: #edac8d;
    text-decoration: underline;
}
