@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400;500;600;700;800;900&family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    font-size: 16px;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Barlow;
}

html{
    scroll-behavior: initial;
    overflow: hidden;
}

html, body{
    width: 100%;
    min-height: 100%;
}

/* steph */

::-webkit-scrollbar{
    display: none;
}

.header{
    /* position: fixed; */
    width: 100vw;
    height: auto;
    top: 0;
    transition: top 0.5s ease-in-out;
}

.head{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: auto;
    background-color: #ffffff;    
}

li{
    color: #1f2745;
    font-weight: 600;
}

li svg{
    width: auto;
    height: 10vh;
}

ul{
    display: flex;
    justify-content: space-around;
    padding-top: 2vh;
}

.text-button{
    width: 40%;
    height: 15%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-button{
  
}

.text-btn{
    position: absolute;
    color: #ffffff;
}

.text-home a{
    position: relative;
}

.btn-nav{
    display: flex;
    align-items: center;
    height: 7vh;
}

.container{
    width: auto;
    height: auto;
}
.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bottom img{
    height: 4vh;
    transform: translateY(-2px);
}

ul > a{
    width: 10%;
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 100%;
    height: auto;
}
.main-page{
    width: 100%;
    height: 100%;
}
.image-back{
    width: 100%;
    height: 90vh;
    background: url(image/basket.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.back-text{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.text-arrow{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-up {
    top: -150px;

}

.text-h h1{
    font-size: 3rem;
    line-height: 90%;
}

.text-h p{
    font-size: 1.5rem;
    margin-top: 5%;
}

.text-home{
    width: 30%;
    height: 40%;
}

.nav-button{
    position: fixed;
    z-index: 999999999;
    right: -10%;
    top: 0%;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
.nav-menu{
    position: fixed;
    z-index: 9999999;
    right: -6%;
    top: -6%;
    opacity: 1;

}


.menu-btn{
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    background-color: #1f2745;
    opacity: 0;


}
.nav-btn{
    position: relative;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    

}

.active{
    width: 100vw;
    height: 100vh;
    border-radius: 0%;

}

.active-r{
    right: 0%;
    top: 0%;

}

.close{
}

.show{
right: 1%;
top: 5%;
transition: 0.5s ease-in-out;

}

.of{
    overflow: hidden;
}
.click{
    transform-origin: center center;
    animation: spin 10s infinite linear;
}
.menu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -48.5%);
    width: 70%;
}

.cls-1{
    fill: #1f2745;
}

@keyframes spin {
    from {
        transform-origin: center;
      transform: rotate(0deg);
    }
    to {
        transform-origin: center;
      transform: rotate(360deg);
    }
  }


  .d-menu{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-container{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
  }

  .pics-m{
    width: 60%;
    height: 500px;
  }
  .pics-m img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .menu-text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

.menu-text span {
    position: relative;
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
}

.menu-text span::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    background-color: #f5a37b;
    transition: all 1s cubic-bezier(0.84, 0, 0.08,0.99);
}
.menu-text span:hover::after {
    width: 100%;
}

.menu-text span::before{
    width: 0%;
    color: #f5a37b;
    -webkit-text-stroke: 1px #f5a37b;
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    transition: all 1s cubic-bezier(0.84, 0, 0.08,0.99);
  }

.menu-text span:hover::before{
   width: 100%;
  }

.menu__item-image{
    position: absolute;
    opacity: 0;
    transform: translateY(20px);
    
}
.menu-pics{
    position: relative;
}

.container__space{
    height: 100vh; 
    width: 100vw;
}

/* compteur */
.container__compteur{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.compteur{
    text-align: center;
    padding: 0 5%;
}

.compteur__num{
    font-size: 6rem;
    font-weight: 700;
    color: #1f2745;
}

.compteur__num span{
    color: #f5a37b;
}

.container__text{
    font-size: 1.5rem;
    font-weight: 500;
    color: #1f2745;
}

/* partie scroll  horizontal */
#horizontal{
    display: flex;
    height: 100vh;
    padding: 100px 0;
}

.horizontal__content{
    display: flex;
}

/* ici tu peux modifier la taille de la boîte */
.horizontal__item{
    padding: 320px 239px;
    background-image: url("images/bouclier.svg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* l'écart entre les boîtes */
.horizontal__item:not(:last-child){
    margin-right: 150px;
}

.horizontal__num{
    font-size: 4rem;
    font-weight: 900;
    font-stretch: condensed;
    color: #f5a37b;
}

.container{
    width: 90%;
    margin: auto;
    text-align: right;
}

h1{
    font-size: 3rem;
    margin-bottom: 80px;
    color: #1f2745;
    text-align: left;
    text-transform: uppercase;
}
h1 span{
    color: #f5a37b;
}

.bouton{
    float: right;
}
.bouton img{
    position: relative;
    width: 200px;
    margin-top: 70px;
}
.bouton span{
    position: relative;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    left: 158px;
    top: 88px;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}
.bouton span:hover{
    color: #f5a37b;
    transition: 0.2s;
}

.horizontal__text{
    position: absolute;
}
/* position des textes dans les boucliers */
#bouclier__1{
    top: 140px;
    left: 82px;
}
#bouclier__2{
    top: 140px;
    left: 125px;
}
#bouclier__3{
    top: 140px;
    left: 74px;
}
#bouclier__4{
    top: 140px;
    left: 3px;
}
#bouclier__5{
    top: 140px;
    left: 38px;
}
.horizontal__name{
    font-size: 3rem;
    text-align: center;
    line-height: 60px;
    font-weight: 500;
}
.horizontal__name span{
    color: #f5a37b;
    font-weight: 600;
    font-size: 4rem;
    text-transform: uppercase;
}
.horizontal__role{
    margin-top: 60px;
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
}
.horizontal__role span{
    font-weight: 600;
}


/* partenaires */
.container__partenaire{
    height: 130px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "----";
}
.container__partenaire img{
    width: 120px;
    margin-left: 200px;
}
.partenaire__box{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    animation: marquee 30s linear infinite;
}
.marquee__inner{
    display: flex;
    align-items: center;
}
@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* footer */
footer{
    height: 38vh;
    background-color: #1f2745;
    padding: 100px 0;
}

/* partie haute du footer */
.footer__top,
.footer__bottom{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    color: #fff;
    font-size: 0.9rem;
}
.footer__content{
    width: 90%;
    padding-right: 30%;
}
.footer__logo{
    display: flex;
    align-items: center;
}
.footer__logo img{
    width: 100px;
    margin-right: 30px;
}
.newsletter{
    display: flex;
    margin: 50px 0 30px 0;
}
#email{
    border-radius: 30px 0 0 30px;
    border: 0;
    border-right: 1px solid #1f2745;
    width: 300px;
    padding: 10px 15px;
    background: #fff;
    color: #1f2745;
}
#submit{
    border-radius: 0px 30px 30px 0px;
    border: 0;
    padding: 10px 15px;
    background:  #fff;
    color: #1f2745;
    cursor: pointer;
    transition: 0.2s;
}
#submit:hover{
    background:  #f5a37b;
    transition: 0.2s;
}
.footer__link{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.footer__links a{
    cursor: default;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
}
.footer__links a span{
    cursor: pointer;
}
.footer__links a span:hover{
    color: #f5a37b;
    text-decoration: underline;
}

.footer__links h1{
    color: #fff;
    font-weight: 300;
}

.footer__line{
    content: " ";
    width: 90%;
    height: 1px;
    background-color: #fff;
    margin: 100px auto 40px auto;
    opacity: 15%;
}

.footer__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.7rem;
}
.copyright p{  
    color: #fff;
}
.footer__legal_links{
    text-align: right;
}
.footer__legal_links a{
    cursor: default;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
}
.footer__legal_links a span{
    cursor: pointer;
}
.footer__legal_links a span:hover{
    color: #f5a37b;
    text-decoration: underline;
}

/* page CAMPUS */

.description{
    width: 90%;
    margin: 50px auto 100px;
}

.description h1{
    animation: swipeLeft 1s ease-in-out;
}
.description p{
    font-size: 1.2rem;
    font-weight: 500;
    width: 35%;
    animation: swipeLeft 1s ease-in-out;
}
.description p span{
    font-weight: 700;
}
.description img{
    max-width: 100%;
    margin: 80px auto;
    background-size: cover;
    display: flex;
    animation: swipeLeft 1s ease-in-out;
}

.description__restauration{
    display: flex;
    align-items: center;
    animation: swipeLeft 1s ease-in-out;
}
.description__restauration img{
    margin: 0;
    margin-right: 30px;
}

.description__hebergement{
    display: flex;
    align-items: center;
    justify-content: right;
    animation: swipeRight 1s ease-in-out;
}

.description__hebergement img{
    margin: 0;
    margin-left: 30px;
}

@keyframes swipeLeft {
    0% { transform: translateX(-5%);
        opacity: 0; }
    100% { opacity: 1; }
}

@keyframes swipeRight {
    0% { transform: translateX(5%);
        opacity: 0; }
    100% { opacity: 1; }
}

/* page FINANCEMENT */
.container__description{
    width: 90%;
    margin: auto;
}
.description ul{
    display: block;
    width: 90%;
    margin: auto;
}

.description li{
    font-size: 1.2rem;
    background-image: url(images/bouclier_list.svg);
    background-position: 0%;
    padding: 0px 0 4px 40px;
    background-repeat: no-repeat;
    display: flex;
    animation: swipeLeft 1s ease-in-out;
}
.sous_titre{
    font-size: 2rem;
    margin-bottom: 10px;
}
.images__aide{
    display: flex;
    width: 90%;
    margin: 40px auto;
    justify-content: space-between;
}
.images__aide img{
    margin: 0px auto;
}

.images__aide_block{
    display: block;
}
.images__aide_block p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.remuneration__grid{
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.remuneration__grid p{
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}
.remuneration__grid p span{
    color: #f5a37b;
}

.p__grid_bottom{
    border-left: 5px solid #1f2745;
    border-bottom: 5px solid #1f2745;
}
.p__grid_middle{
    border-left: 5px solid #1f2745;
    border-bottom: 5px solid #1f2745;
}
.p__grid_left{
    border-bottom: 5px solid #1f2745;
}
.p_margin_top{
    margin-bottom: 40px;
}

/* page CONTACT */
.contact__content{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 100px;
}

form label{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #1f2745;
}

form label span{
    color: #f5a37b;
}

form input, textarea{
    margin-bottom: 30px;
    border: 0;
    border-bottom: 1px solid #1f2745;
    resize: vertical;
    padding: 10px 15px;
    background: #fff;
    color: #1f2745;
}

form textarea{
    min-height: 37px;
}

form button{
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    float: right;
}
.boutton_envoyer{
    background: transparent;
    border: 0;
}
footer button img{
    cursor: pointer;
    z-index: 1000;
    position: absolute;
}

.contact__social{
    margin-left: 100px;
    display: block;
    width: 50%;
    text-transform: uppercase;  
}

.social__link{
    margin-bottom: 40px;
}
.social__link h2{
    color: #f5a37b;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.social__link a{
    display: block;
    margin-bottom: 15px;
    color: #1f2745;
    font-weight: 500;
    cursor: default;
}
.social__link span{
    cursor: pointer;
}
.social__link span:hover{
    text-decoration: underline;
}
.social__link h4{
    font-weight: 500;
}

.checkbox__text{
    display: flex;
    margin-bottom: 30px;
}

.checkbox__text input{
    cursor: pointer;
    accent-color: #1f2745;
}

.checkbox__text label{
    font-size: 0.9rem;
    margin-left: 8px;
    margin-top: -3px;
    color: #1f2745;
    user-select: none;
    text-transform: none;
    font-weight: normal;
    cursor: pointer;
}
